@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}
body{
    padding: 0;
    margin: 0;
    background-color: #E9EEFE;
    display: flex;
    justify-content: center;
    color: #283146;
    font-family: 'poppins';
}
.menu{
    position: absolute;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);

    height: 100dvh;
    width: 100vw;
    padding-top: 5dvh;
    z-index: 10;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.menu div{
    font-weight: 600;
    font-size: 10vw;
}
.meun div:hover{
    font-size: 20vw;
    cursor: pointer;
}
.topBar-PhoneTablet{
    position: fixed;
    width: 80vw;
    margin-top: 36px;

    display: flex;
    justify-content: space-between;
    z-index: 10;
}
.topBar-Desktop{display: none;}
.name{
    color: #283146;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    height: 29px;
    width: 123px;

    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 5px rgba(40, 49, 70, 0.1);
    border-radius: 6px;

    transition:all, 0.5s;

}
.name:hover{
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
    scale: 1.05;
    transition:all, 0.5s;
    cursor: pointer;
}
.menu-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.5);
    height: 29px;
    width: 29px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 5px rgba(40, 49, 70, 0.1);
    border-radius: 6px;
    transition: all, 0.5s;
}
.menu-button:hover{
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
    scale: 1.05;
    transition:all, 0.5s;
    cursor: pointer;
}
.wrapper{
    width: 100vw;
    height: 100dvh;

    perspective: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    z-index: -10px;
}
.wrapper img{pointer-events: none;}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    height: 100%;
    transform-style: preserve-3d;
}
.intro-Phone{
    display: flex;
    flex-direction: column;
    margin-top: 8dvh;
    justify-content: center;
}
.goneLeft{
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100%);
    filter: blur(5px);
}
.ip1{
    margin-bottom: 21.79px;
    transition-delay: 200ms;
}
.ip2Class{
    display: flex;
    margin-bottom: 22.79px;
    align-items: end;
}
.ip2{
    transition-delay: 400ms;
}
.delay{
    margin: 0px 15px 15px;
    transition-delay: 2500ms;
}
.ip3{
    margin-bottom: 19.05px;
    transition-delay: 600ms;
}
.ip4{
    margin-bottom: 18.01px;
    transition-delay: 800ms;
}
.ip5{
    margin-bottom: 21.27px;
    transition-delay: 1000ms;
}
.ip6{
    transition-delay: 1200ms;
}
.intro{
    z-index: -1px;
    display: none;
}
.scrollAni{
    position: absolute;

    z-index: -200;
}
.heart{
    bottom: -400px;
    left: -350px;
    width: 600px;
    transform: translateZ(-10px) scale(2);
}
.me{
    top: 0px;
    width: 200px;
    transform: translateZ(-5px) scale(2);
}
.sections{
    display: block;
    position: relative;
    z-index: 0;
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;

    scroll-snap-align: start;
}
#about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#about div{
    display: none;
    height: 400px;
    position: relative;
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(80px);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(80px);
    border-radius: 30px;
}
.myDoction{
    padding: 30px;
    font-size: 20.6px;
    width: 70%;
}
#about img{
    filter: grayscale();
    height: 400px;
    border-radius: 30px;
}
.contacts{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.behance, .github{
    width: 315.58px;
    height: 53.21px;
    margin: 20px 0px;

    background: #FFFFFF;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 9.1px;
    transition:all, 0.5s;
}
.be-logo{
    position: relative;
    left: 0px;
    top: 11px;
    fill: #ffffff00;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    transition:all, 0.5s;
}
.be-name{
    position: relative;
    left: 65px;
    top: 7px;
    fill: #283146;
    height: 20px;
    width: 105.56px;
    margin-top: 1px;
    transition:all, 0.5s;
}
.behance:hover{
    background-color: #005CFF;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
    scale: 1.05;
    transition:all, 0.5s;
    cursor: pointer;
}
.behance:hover .be-logo{
    fill: #FFFFFF;
    left: 85px;
    transition:all, 0.5s;
}
.behance:hover .be-name{
    fill: #FFFFFF;
    left: 85px;
    transition:all, 0.5s;
}
.git-logo{
    position: relative;
    left: 0px;
    top: 11px;
    fill: #ffffff00;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    transition:all, 0.5s;
}
.git-name{
    position: relative;
    left: 81px;
    top: 7px;
    fill: #283146;
    height: 20px;
    width: 75px;
    margin-top: 1px;
    transition:all, 0.5s;
}
.github:hover{
    background-color: #000000;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
    scale: 1.05;
    transition:all, 0.5s;
    cursor: pointer;
}
.github:hover .git-logo{
    fill: #FFFFFF;
    left: 101px;
    transition:all, 0.5s;
}
.github:hover .git-name{
    fill: #FFFFFF;
    left: 101.59px;
    transition:all, 0.5s;
}
.contactBoxContainer{
    display: flex;
    justify-content: space-between;
    width: 342.58px;
}
.contactBox{
    height: 100.95px;
    width: 163.46px;
    position: relative;
    transition:all, 0.5s;
}
.contactBox svg{transition:all, 0.5s;}
.contactBox:hover{
    scale: 1.05;
    transition:all, 0.5s;
    cursor: pointer;
}
.contactBox:hover svg{
    scale: 1.1;
    transition:all, 0.5s;
    cursor: pointer;
    filter: drop-shadow(-4px 4px 15px rgba(38, 111, 249, 0.5));
}
.TelegramIcon{
    position: absolute;
    right: 0;
    filter: drop-shadow(-4px 4px 15px rgba(38, 111, 249, 0.33));
}
.whiteTelegram{
    position: absolute;
    bottom: 0;

    background-color: white;
    width: 150px;
    height: 70.33px;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 9.1px;
    padding-left: 17px;
    padding-top: 14px;
}
.addressTelegram{
    color: #28314680;
    font-size: 12px;
    font-weight: 200;
    height: 18px;
    margin-bottom: -2px;
    margin-left: 2px;
}
.IDTelegram{
    font-size: 20.55px;
    font-weight: 700;
    height: 31px;
}
.PhoneIcon{
    position: absolute;
    left: 0;
    filter: drop-shadow(4px 4px 15px rgba(38, 111, 249, 0.33));
}
.whitePhone{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: end;

    background-color: white;
    width: 150px;
    height: 70.33px;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 9.1px;
    padding-right: 15px;
    padding-top: 14px;
}
.areaCode{
    color: #28314680;
    font-size: 12px;
    font-weight: 200;
    height: 18px;
    margin-bottom: -2px;
    margin-right: 2px;
}
.IDNumber{
    font-size: 20.55px;
    font-weight: 700;
    height: 31px;
}
.email{
    width: 315.58px;
    height: 53.21px;
    margin: 20px 0px;

    background: #FFFFFF;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 9.1px;
    transition:all, 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
}
.email a{
    font-weight: 700;
    font-size: 21px;
    color: #283146;
    text-decoration: none;
}
.email:hover{
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
    scale: 1.05;
    transition:all, 0.5s;
    cursor: pointer;
}
.Peacock{
    position: absolute;
    height: 230px;
    bottom: 0;
}
.hidden{
    opacity: 0;
    transition: all 1s;
    transform: translateX(100%);
    filter: blur(5px);
}
.show{
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}
.projects{
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.card-slider{
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    perspective: 600px;
    overflow: visible;
}
.card-slider img{
    pointer-events: none;
}
.cards{
    height: 400px;
    transition: all 1s;
    margin: 30px;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(40, 49, 70, 0.15);
}
.unselected-left-left{
    scale: 0.8;
    margin-right: 600px;
    z-index: 1;
    transform: rotateY(20deg);
}
.unselected-left{
    scale: 1;
    margin-right: 300px;
    z-index: 3;
    transform: rotateY(10deg);
}
.selected{
    scale: 1.2;
    z-index: 5;
    box-shadow: 0px 10px 20px rgba(40, 49, 70, 0.3);
}
.unselected-right{
    scale: 1;
    margin-left: 300px;
    z-index: 4;
    transform: rotateY(-10deg);
}
.unselected-right-right{
    margin-left: 600px;
    scale: 0.8;
    z-index: 2;
    transform: rotateY(-20deg);
}
.controls{
    display: flex;
}
.butt{
    width: 50px;
    height: 50px;
    z-index: 100;
    margin: 0px 10px 70px;
    filter: drop-shadow(4px 4px 15px rgba(38, 111, 249, 0.33));
    transition:all, 0.5s;
}
.butt img{
    width: 50px;
}
.butt:hover{
    scale: 1.1;
    transition:all, 0.5s;
    filter: drop-shadow(-4px 4px 15px rgba(38, 111, 249, 0.5));
}
@media only screen and (min-width: 820px){
    .contact{
        scale: 1.1 ;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 20px;
        height: 100%;
    }
    .Peacock{
        position: inherit;
        height: 185px;
        bottom: 0;
    }
    .butt{
        margin: 0px 10px 40px;
    }
    .card-slider{
        margin-top: 80px;
    }
    .cards{
        height: 450px;
    }
}
@media only screen and (min-width: 1000px){
    .intro{display: block;}
    .intro-Phone{display: none;}
    .topBar-PhoneTablet{
        display: none;
    }
    .topBar-Desktop{
        position: fixed;
        width: 80vw;
        margin-top: 50px;
    
        display: flex;
        justify-content: space-between;
        z-index: 10;
    }
    .name{
        font-size: 25px;
        font-weight: 700;
        width: max-content;
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: none;
        box-shadow: none;
        border: none;
    }
    .name:hover{    
        box-shadow: none;
        scale: 1.05;
        transition:all, 0.2s;
        cursor: pointer;
    }
    .menuOptions{
        display: flex;
        align-items: center;
        color: #283146;
        font-size: 20px;
        font-weight: 500;
        height: 35px;
        transition:all, 0.2s;
    }
    .menuOptions div{
        margin: 0px 35px;
        transition:all, 0.2s;
    }
    .menuOptions div:hover{
        scale: 1.05;
        transition:all, 0.2s;
        cursor: pointer;
    }
    .heart{
        bottom: -500px;
        left: -600px;
        width: 800px;
        transform: translateZ(-10px) scale(2);
    }
    .intro{
        position: relative;
        background: rgba(217, 217, 217, 0.1);
        backdrop-filter: blur(80px);
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
        -webkit-backdrop-filter: blur(80px);
        border-radius: 30px;

        transition: 0.1s;            
    }
    .intro img{
        width: 800px;
        z-index: -1px;
        margin: 0;
        padding: 40px 50px 30px;
    }
    .intro:hover{
        scale: 1.1 ;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
    }
    .sections{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section{
        width: 1000px;
    }
    #about div{display: block;}
    .contacts{
        display: flex;
        flex-direction: row;
        align-items: end;
    }
    .contact{
        height: 100%;
        scale: 1.2;
    }
    .Peacock{
        display: block;
        height: unset;
        width: 30vw;
        margin-right: 100px;
    }
}