@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #E9EEFE;
    display: flex;
    justify-content: center;

}
html{
    scroll-snap-type: y mandatory;
}
.top-bar{
    position: fixed;
    width: 80%;
    margin-top: 36px;

    display: flex;
    justify-content: space-between;
}
.name{
    color: #283146;
    display: inline-block;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;

    background-color: rgb(255, 255, 255, 0.05);
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 12px;
    padding-right: 12px;
    
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 5px rgba(40, 49, 70, 0.1);
    border-radius: 6px;
}
.menu-button{
    display: flex;
    background-color: rgb(255, 255, 255, 0.05);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    height: 13px;
    width: 13px;

    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 5px rgba(40, 49, 70, 0.1);
    border-radius: 6px;
}
.intro{
    display: flex;
    align-items: center;
    justify-content: center;

    scroll-snap-align: start;
    height: 100vh;
}
